upstream cortex_grpc {
{% for host in groups.cortex_servers %}
    server {{ host }}:9095;
{% endfor %}
}

server {
    listen 9095 http2;
    location / {
        grpc_pass grpc://cortex_grpc;
    }
}
