auth_enabled: false

server:
  http_listen_port: 9009
  grpc_listen_port: 9095
  grpc_server_max_recv_msg_size: 104857600
  grpc_server_max_send_msg_size: 104857600
  grpc_server_max_concurrent_streams: 1000

memberlist:
{% if inventory_hostname != "cortex1" %}
  join_members:
  - cortex1
{% endif %}
  abort_if_cluster_join_fails: false

distributor:
  shard_by_all_labels: true
  pool:
    health_check_ingesters: true
  ring:
    kvstore:
      store: memberlist

ingester_client:
  grpc_client_config:
    max_recv_msg_size: 104857600
    max_send_msg_size: 104857600
    use_gzip_compression: true

ingester:
  lifecycler:
    join_after: 0
    final_sleep: 0s
    num_tokens: 512
    ring:
      kvstore:
        store: memberlist
      replication_factor: {{ groups.cortex_servers|length - 1 }}

querier:
  max_concurrent: {{ querier_max_concurrent|default(100) }}

schema:
  configs:
  - from: 2020-08-01
    store: cassandra
    object_store: cassandra
    schema: v10
    index:
      prefix: index_
      period: {{ period_in_days }}d
    chunks:
      prefix: chunk_
      period: {{ period_in_days }}d

storage:
  cassandra:
    addresses: cassandra1
    port: 9042
    keyspace: cortex
    consistency: {{ cassandra_consistency|default('QUORUM') }}
    num_connections: {{ cassandra_num_connections|default(ansible_processor_cores) }}
    replication_factor: {{ groups.cassandra_servers|length - 1 }}
    table_options: |+
      compaction={
        'compaction_window_size':'{{ period_in_days }}',
        'compaction_window_unit':'DAYS',
        'expired_sstable_check_frequency_seconds':'86400',
        'class':'org.apache.cassandra.db.compaction.TimeWindowCompactionStrategy'
      }
      AND gc_grace_seconds=604800
      AND read_repair_chance=0
