{# Author: Alejandro Galue <agalue@opennms.org> #}

# Basic Settings
org.opennms.rrd.storeByGroup=true
org.opennms.rrd.storeByForeignSource=true
org.opennms.timeseries.strategy=newts
org.opennms.newts.config.keyspace=newts

# Cassandra Access
org.opennms.newts.config.hostname=cassandra1

# Basic tuning based on the expected injection rate
org.opennms.newts.config.ttl={{ opennms.newts.ttl|default('86400000') }}
org.opennms.newts.config.ring_buffer_size={{ opennms.newts.ring_buffer_size }}
org.opennms.newts.config.cache.max_entries={{ opennms.newts.cache_max_entries }}
org.opennms.newts.config.writer_threads={{ opennms.newts.writer_threads|default('16') }}
org.opennms.newts.config.cache.priming.enable=true
org.opennms.newts.config.cache.priming.block_ms={{ opennms.newts.priming_block_ms|default('-1') }}
{% if opennms.newts.core_connections_per_host is defined %}
org.opennms.newts.config.core-connections-per-host={{ opennms.newts.core_connections_per_host }}
{% endif %}
{% if opennms.newts.max_connections_per_host is defined %}
org.opennms.newts.config.max-connections-per-host={{ opennms.newts.max_connections_per_host }}
{% endif %}
{% if opennms.newts.max_requests_per_connection is defined %}
org.opennms.newts.config.max-requests-per-connection={{ opennms.newts.max_requests_per_connection }}
{% endif %}
org.opennms.newts.config.max_batch_size={{ opennms.newts.max_batch_size|default('16') }}
org.opennms.newts.config.compression={{ opennms.newts.compression|default('NONE') }}

# To control collection interval for visualization purposes
org.opennms.newts.query.minimum_step={{ opennms.newts.minimum_step|default('300000') }}
org.opennms.newts.query.heartbeat={{ opennms.newts.heartbeat|default('450000') }}
