{# Author: Alejandro Galue <agalue@opennms.org> #}
rocommunity public default
syslocation {{ snmp.syslocation }}
syscontact {{ snmp.syscontact }}
dontLogTCPWrappersConnects yes
disk /
{% if 'cassandra' in ansible_host %}
disk /var/lib/{{ "cassandra" if vendor_repo == 'apache' else "scylla" }}
{% endif %}